<h1 mat-dialog-title>{{title}}</h1>
<br />
<form class="example-form" #f="ngForm" (ngSubmit)="saveEvent()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description" name="description" (keydown)="changeInfo($event)" maxlength="1000"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Performer</mat-label>
      <mat-select [(ngModel)]="performer" name="performer" id="performer" (selectionChange)="changeInfo($event)" #toSelect="ngModel" required
                  [ngClass]="{'invalid-textbox' : !(toSelect && toSelect.invalid && (toSelect.dirty || toSelect.touched || ( f && f.submitted))) }">
        <mat-option *ngFor="let art of artists" [value]="art.id">
          {{art.stageName}}
        </mat-option>
        <mat-error *ngIf="toSelect.errors?.['required']">
          Please select the receiver.
        </mat-error>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" name="price" id="price" min="1"
             [(ngModel)]="price" #amo="ngModel" (keydown)="changeInfo($event)" required
             [ngClass]="{'is-invalid': (pri.touched || pri.dirty) && !pri.valid}" />
      <mat-error *ngIf="pri.errors?.['required']">
        Please enter amount.
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" class="btn-size" type="submit" [disabled]="!f.valid || saveButtonFlag">Save</button>&nbsp;&nbsp;
    <button mat-raised-button color="warn" (click)="onCancelClick()" type="button" class="btn-size">Cancel</button>
  </div>
</form>
