<form class="px-4 py-2" #f="ngForm" (ngSubmit)="saveEvent()">
  <h1 mat-dialog-title class="col-md-12">{{modalTitle}}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="col-md-12">
      <mat-label>Title</mat-label>
      <input matInput type="text" name="title" id="title" [(ngModel)]="title" (keydown)="changeInfo($event)" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-12">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description" name="description" (keydown)="changeInfo($event)" maxlength="1000"></textarea>
    </mat-form-field>
    <div class="row justify-content-between">
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Choose time</mat-label>
        <input matInput type="datetime-local" name="dateTime" id="dateTime" [(ngModel)]="dateTime" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Price</mat-label>
        <input matInput type="number" name="price" id="price" min="1"
               [(ngModel)]="price" (keydown)="changeInfo($event)" required />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="col-md-12">
      <mat-label>Location</mat-label>
      <input matInput type="text" name="location" id="location" [(ngModel)]="location" (keydown)="changeInfo($event)" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-12">
      <mat-label>Host</mat-label>
      <mat-select [(ngModel)]="host" name="host" id="host" (selectionChange)="changeInfo($event)" required>
        <mat-option *ngFor="let h of hosts" [value]="h.identifier">
          {{h.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-12">
      <mat-label>Artist</mat-label>
      <mat-select [(ngModel)]="artist" name="artist" id="artist" (selectionChange)="changeInfo($event)" required>
        <mat-option *ngFor="let ar of artists" [value]="ar.identifier">
          {{ar.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" class="btn-size" type="submit" [disabled]="!f.valid || saveButtonFlag">Save</button>&nbsp;&nbsp;
    <button mat-raised-button color="warn" (click)="onCancel()" type="button" class="btn-size">Cancel</button>
  </div>
</form>
